absl-py==0.10.0
altgraph==0.17
antlr4-python3-runtime==4.8
appdirs==1.4.4
astunparse==1.6.3
attrs==20.3.0
autopy==4.0.0
backports.entry-points-selectable==1.1.1
cached-property==1.5.2
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
clang==5.0
click==7.1.2
cmake==3.18.4.post1
comtypes==1.1.10
cvzone==1.5.3
cycler==0.10.0
Cython==0.29.22
dataclasses==0.8
decorator==4.4.2
dill==0.3.3
distlib==0.3.4
dlib @ https://files.pythonhosted.org/packages/0e/ce/f8a3cff33ac03a8219768f0694c5d703c8e037e6aba2e865f9bae22ed63c/dlib-19.8.1-cp36-cp36m-win_amd64.whl#sha256=794994fa2c54e7776659fddb148363a5556468a6d5d46be8dad311722d54bfcf
enum34==1.1.10
face-recognition==1.3.0
face-recognition-models==0.3.0
filelock==3.4.0
flatbuffers==1.12
future==0.18.2
gast==0.4.0
google-auth==1.28.0
google-auth-oauthlib==0.4.3
google-pasta==0.2.0
googleapis-common-protos==1.53.0
grpcio==1.42.0
h5py==3.1.0
idna==2.10
imageio==2.13.3
importlib-metadata==3.7.3
importlib-resources==5.1.2
iopath==0.1.9
Jinja2==3.0.3
joblib==1.0.1
kaggle==1.5.12
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.3.4
mediapipe==0.8.3
mrcnn==0.2
mypy-extensions==0.4.3
networkx==2.5.1
numpy==1.19.3
oauthlib==3.1.0
omegaconf==2.1.1
opencv-contrib-python==4.5.1.48
opencv-python==4.5.1.48
opt-einsum==3.3.0
pandas==1.1.5
pathspec==0.9.0
pefile==2019.4.18
Pillow==8.4.0
platformdirs==2.4.0
playsound==1.3.0
portalocker==2.3.2
promise==2.3
protobuf==3.15.6
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycaw==20181226
pydot==1.4.2
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-slugify==4.0.1
pytz==2021.3
PyWavelets==1.1.1
pywin32==302
pywin32-ctypes==0.2.0
PyYAML==6.0
redmail==0.2.1
regex==2021.11.2
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.17.2
scikit-learn==0.24.1
scipy==1.5.4
sequential==1.0.0
six==1.15.0
sklearn==0.0
tabulate==0.8.9
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.2
tensorflow-datasets==4.2.0
tensorflow-estimator==2.6.0
tensorflow-gpu==2.4.1
tensorflow-hub==0.11.0
tensorflow-metadata==0.28.0
termcolor==1.1.0
text-unidecode==1.3
threadpoolctl==2.1.0
tifffile==2020.9.3
tk==0.1.0
toml==0.10.2
torch==1.10.0
torchaudio==0.10.0
torchvision==0.11.1
tqdm==4.59.0
typed-ast==1.4.3
typing-extensions==3.7.4.3
urllib3==1.26.4
virtualenv==20.10.0
Werkzeug==1.0.1
wrapt==1.12.1
yacs==0.1.8
zipp==3.4.1
